*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
}

header{
    background-color: cornflowerblue;
    color: whitesmoke;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding: 3px 20px;
    width: 100%;
    z-index: 10;
    opacity: 0.9;
}

nav{
    align-self: center;
}

.navinfo{
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
}

.navinfo h1{
    margin: 0;
}

.navinfo img{
    width: 64px;
    height: 64px;
    border-radius: 50%;
}

.ulnavegacion{
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    list-style: none;
    margin: 0;
}

.ulnavegacion li{
    padding: 20px 10px;
    transition: background-color .8s ease;
}

.ulnavegacion a{
    text-decoration: none;
    color: whitesmoke;
    height: 100%;
}

.ulnavegacion li:hover{
    background-color: lightblue;    
}

main{
    margin-top: 70px;
}

.hero{
    background-color: gold;
    height: 79vh;
    position: relative;
}

.hero img{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.hero-content{
    position: absolute;
    top: calc(50% - 150px);
    left: calc(50% - 150px);
    max-width: 300px;
    z-index: 2;
}

.hero-content h2{
    font-size: 2.5rem;
    text-decoration: none;
    margin: 0;
    padding: 0;
    display: inline-block;
    /* trbl - top right bottom left trouble without oue*/
}

.hero-content p{
    display: inline-block;
    line-height: 2;
}

.hero-content button{
    display: inline-block;
    padding: 0.5rem 1rem;
    background-color: dodgerblue;
    border: 2px solid black;
    color: whitesmoke;
    font-size: 1.1rem;
    font-weight: bold;
    border-radius: 1.5rem;
}

.container{
    padding: 1rem;
}

h2{
    font-size: 40px;
    font-weight: bold;
    text-decoration: underline;
}

.precios{
    /* display: flex;
    flex-flow: row wrap;
    justify-content: center; */
    display: grid;
    grid-template-columns: auto auto auto;
}

.card{
    margin: 0.5rem;
    padding: 0;
    border: 2px solid black;
    width: 30%;
    max-width: 300px;
    min-width: 200px;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    transition: transform 2s;
    z-index: 1;
}

.precios .card:hover{
    transform: scale(1.5);
}

.card h3{
    margin: 0;
    color: wheat;
    background-color:olive;
    padding: 0.5rem;
    text-align: center;
}

.card p{
    padding: 0.5rem;
    font-size: 0.8rem;
}

.card span{
    display: block;
    text-align: right;
    padding: 0.5rem;
    font-weight: bold;
}

.card button{
    width: 100%;
    background-color: olive;
    color: white;
    font-weight: bold;
    padding: 0.5rem;
}

footer{
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: cornflowerblue;
}

.footer-content, .footer-redes p, .footer-nav{
    font-weight: bold;
    font-size: 1.1rem;
    color: whitesmoke;
    margin: 0;
}

footer ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

.footer-nav ul li {
    text-decoration: none;
    color: white;
    padding: 0.6rem 0;
    align-self: flex-start;
}

footer ul li a{
    text-decoration: none;
    color: white;
    font-size: 0.8rem;
}

@media (max-width:700px) {
    .ulnavegacion{
        display: none;
    }
    .precios{
        flex-flow: column;
        align-items: center;
    }
}

@media (max-width:450px) {
    main{
        margin-top: 80px;
    }
    .hero img{
        object-fit: cover;
        object-position: right;
    }
}

/* Mobile first */
@media (min-width: 760px) {
    footer{
        flex-flow: row wrap;
        justify-content: space-around;
    }
    
    .footer-content{
        flex: 1 0 100%;
    }

    .footer-nav, .footer-redes{
        flex: 1 0 50%;
    }
}

@media (min-width: 1025px) {
    .container{
        margin: 5px auto;
    }   

    .precios{
        gap: 90px;
    }

    .footer-content{
        flex: 1 0 60%;
        align-self: center;
    }

    .footer-nav, .footer-redes{
        flex: 1 0 20%;
        align-self: center;
    }
}

.fullimage{
    padding: 0;
    margin: 0;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.fullcenter{
    text-align: center;
}

fieldset{
    padding: 1em;
    display: flex;
    gap: 10px;
    border: none;
}

input{
    width: 50% ;
}

*{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

article{
    max-width: 1024px;
    padding: 1rem;
    background-color: greenyellow;
}

article p{
    list-style: 1.5;
    font-size: 1rem;
    font-style: normal;
    text-decoration: none;
    text-align: justify;
}

article h2{
    color: yellow;
    text-shadow: 1px 1px 2px black;
}